@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

html {
    @apply font-sans m-0 p-0 top-0;
    @apply text-lg select-none ;
    @apply sm:text-base sm:select-text;
    @apply bg-zinc-800 text-sky-500;
    font-family: 'Quicksand', sans-serif;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    color-scheme: dark;
}

svg[viewBox="0 0 24 24"] {
    @apply w-6;
}

.navButton {
    position: relative;
}

.navButton::after {
    @apply content-[""] block w-full h-full absolute top-0 left-0 rounded-full scale-90 bg-transparent;
    @apply transition-[transform,background];
}

.navButton:hover::after, .navButton.navButton:active::after {
    @apply block scale-110 bg-white/20;
}

.navButton:focus::after {
    @apply scale-90 bg-transparent;
}

.line-top, .line-bottom {
    animation: 300ms linear paused both;
}

@keyframes line-top {
    from {
        d: path("M 3.75,17.25 20.25,17.25");
    }

    to {
        d: path("M 13.5,19.5 21,12");
    }
}

@keyframes line-bottom {
    from {
        d: path("M 3.75,6.75 20.25,6.75");
    }

    to {
        d: path("M 13.5,4.5 21,12");
    }
}